[submodule "Bataille"]
	path = Bataille
	url = https://github.com/luzibar/Bataille.git
[submodule "LecteurDeFichier"]
	path = LecteurDeFichier
	url = https://github.com/luzibar/LecteurDeFichier.git
[submodule "DataStructure"]
	path = DataStructure
	url = https://github.com/HNTZ/DataStructure
